<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">

<login-header></login-header>

<body>
  <div class="container">

    <div class="cardcontainer">
      <mat-card style="border-radius:45px; padding:9px;">
        <mat-card-content style="border-radius:45px;">
          <form #form="ngForm" class="example-form" style="margin-top:65%">
            <h2>Appus</h2>
            <p>
              <mat-form-field>
                <input autofocus [disabled]="loggingIn" autocomplete="username" required matInput [(ngModel)]="username"
                  name="username" placeholder="Användarnamn">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <input [disabled]="loggingIn" autocomplete="current-password" type="password" required matInput
                  [(ngModel)]="password" name="password" placeholder="Lösenord">
              </mat-form-field>
            </p>
            <div class="button">
              <button [disabled]="loggingIn" type="submit" mat-button class="matbutton" style="width: 100%">Logga
                in</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>