* {
  font-family: 'Overpass', sans-serif;
}




.img {
  margin-bottom: 12%;
  height: 22%;
}

* {
  overflow-x: hidden;
}


:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
  height: 5rem;
  font-size: 16px;
}

.mat-card mat-focus-indicator {}

.logintitle {
  border: 1px solid black;
  height: 72px;
  position: absolute;
}

mat-card {
  width: 25rem;
  height: 38rem;
  margin: 2rem auto 25px;
  background-color: #982d21;
  ;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 100%;

}

.example-form {
  margin-top: 10%;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.matbutton {
  font-size: 16px;
}

.button {
  color: #982d21;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  border: 2px solid #982d21;
  border-radius: 10px;
}


body {
  margin: 0px;
}


.outerheader {
  position: absolute;
  top: 0;
  left: 0;
}