@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&display=swap');


* {
  font-family: 'Overpass', sans-serif;

}


body {
  width: 80%;
  margin-left: 2%;
  position: static;
  margin-bottom: 29%;

}


.employeefilter {
  width: 10%;
  padding-top: 1%;
}

.mat-dialog-container {
  height: auto;
}