<!--<h2>Frånvarande</h2>-->


<mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)">
</mat-paginator>

<mat-table [dataSource]="dataSource" matSort>
  <!-- Member Column -->
  <ng-container matColumnDef="member">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Member </mat-header-cell>
    <mat-cell *matCellDef="let request">
      <span>{{ getUserName(request.member) }}</span>
    </mat-cell>
  </ng-container>


  <!-- Start Date Column -->
  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Start</mat-header-cell>
    <mat-cell *matCellDef="let request"> {{ request.startDate | date }} </mat-cell>
  </ng-container>

  <!-- End Date Column -->
  <ng-container matColumnDef="endDate">
    <mat-header-cell *matHeaderCellDef>Slut </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{ request.endDate | date }} </mat-cell>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{ request.comment }} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="approve" class="approve">
    <mat-header-cell *matHeaderCellDef> Godkänn </mat-header-cell>
    <mat-cell *matCellDef="let request">
      <mat-checkbox [(ngModel)]="request.approved" (click)="approveRequest(request)"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete" class="delete">
    <mat-header-cell *matHeaderCellDef> Ta bort </mat-header-cell>
    <mat-cell *matCellDef="let request">
      <button mat-button color="warn" (click)="deleteRequest(request)">X</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>