/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
 /* background-image: url('assets/nbg1.jpg');*/ /*global background, might wanna switch*/

}


body {
  margin: 0;
  font-family: 'Overpass',sans-serif;
  background-color: #FAFBFB;
}



.main-day {
  background-color: #F8F7F9;
}

.weekend {
  background-color: #E4E3E4;
}

.cell.today {
  background-color: #72bdff;
  color: white !important;
}

.today.weekend {
  background-color: #a1d3ff;
}

.header-day.today {
  position: relative;
}

  .header-day.today::after {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #87b8e9;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

