.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px
}


button {
  /* border-radius:20px;
  border-style: none;*/
}

.logout:hover {
  cursor: pointer;
}

.body {
  display: flex;
  flex-grow: 1;
  width: 80%;
  margin-left: 10%;


  height: 60px;
  display: flex;
  margin-left: 116px;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.mat-paginator {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-left: 10%;
}


::-webkit-scrollbar {
  /*    position: sticky;
    bottom: 1rem;
    align-self: flex-end;*/
}






.buttons {
  top: 2%;
  left: 40%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.main-body {
  flex: 1 1 0;
  overflow: auto;
  background-color: #FAFBFB;
}

.outerheader {
  width: 100%;
  background-color: #1d273ce0;
  border-bottom: 5px solid #f3dbc6;
  margin-bottom: 2%;
  height: 8rem;
  /*height: 12rem;*/
}

.header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1px;
  height: 10rem;
  flex-grow: 1;
  margin: 1% 0% 2% 2%;
}

.logo {
  grid-column: 1/3;
  margin-top: 2%;
  width: 18rem;
  margin-bottom: 4%;
  padding-top: 5%;
}

.logout {
  font-family: Roboto, Arial, sans-serif;
  grid-column: 10 / 11;
  grid-row: 2;
  width: 12rem;
  margin-top: 29px;
  font-weight: bold;
  color: #f3dbc6 !important;
  letter-spacing: 0.9px;
  display: inline-flex;
  font-size: 16px !important;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logout:hover {
  text-decoration: underline;
}


.personlogo {
  grid-column: 9;
}



.personlogo,
.requestcard,
.sicktoday {
  font-family: Roboto, Arial, sans-serif;
  margin-top: 25px;
  text-transform: uppercase;
  grid-row: 2;
  margin-right: 3rem;
  cursor: pointer;
  font-size: 16px !important;
  font-weight: bold;
  align-items: center;
  border-bottom-color: transparent !important;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: #f3dbc6 !important;
  letter-spacing: 0.9px;
  display: inline-flex;
  font-size: 16px !important;
  font-weight: 500;
  height: 60px !important;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

logout:hover,
.personlogo:hover,
.requestcard:hover,
.sicktoday:hover {
  text-decoration: underline;
}


.dateheader {
  display: flex;
  width: 81%;
  margin-left: 9.3%;
}

/*.headerstyle {
    position:sticky;
}*/

.main-header {
  flex: 1 1 0;
  display: flex;
  overflow: hidden;
  height: 40px;

}

.side {
  margin-right: 35px;
}

.side-body {
  border: 10px solid grey;
  padding: 10px;
  border-style: outset;
  border-radius: 8px;
}

.header-day {
  flex: 0 0 40px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Overpass', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease-out;
}

.main-day {
  flex: 0 0 40px;
  height: 40px;
  cursor: pointer;
  color: #676565;
}






.pyna {
  color: black;
}


.row {
  height: 45px;
  display: flex;
  align-items: center;
}

.range {
  padding-top: 20px;
  margin-left: 25%;
  font-size: 28px;
  color: #676565;
  width: 21%;
  margin-top: 4.8%;
}

.search {
  border-radius: 20px;
  width: 145%;
  text-align: center;
  height: 75%;
}

.employeefilter {

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.5rem;
  height: 23px;
  top: 18.1rem;
}

select {
  margin-left: 30px;
  height: 2rem;
}

::-webkit-input-placeholder {
  text-align: center;
}

.start-of-month {
  color: red;
}

.card {

  height: 56px;
  width: 56px;
  border-radius: 50%;
  margin-right: 20px;
}

.title {
  margin-bottom: 4px;
  font-weight: 500;
  color: #333333;
}

.subtitle {
  color: #8c8c8c;
}

.title,
.subtitle {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -0.5px;
}

&-content {
  overflow: auto;
}



.main-body,
.main-header {
  user-select: none;
}



.main-body {
  border: 4px grey;
  border-radius: 10px;
  border-style: double;
}

.day-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;



  background-color: rgba(0, 0, 0, .04);
}


@media screen and (min-width:1024px) {
  .logout {
    height: 3.7rem;
  }
}

@media screen and (min-width:768px) {
  .logout {
    height: 3.4rem;
    margin-left: 25%;
  }
}

@media screen and (min-width:425px) and (max-width:768px) {

  .sicktoday,
  .requestcard,
  .logout {
    height: 35px !important;
    font-size: 13px !important;
  }

  .logout {
    padding-top: 2px;
  }

  .header {
    margin: 0%;
    padding: 4%;
    grid-template-columns: none;
    height: 8rem;
  }

  .logo {
    margin: 0;
    width: 17rem;
    margin-left: 20%;
  }


}