.active {
  background-color: red;
}

.booked {
  background-color: yellow;
  color: pink;

}

.weekend {
  background-color: lightgray;
}

.monday {
  background-color: white;
}

.selected {
  background-color: pink;
  color: green;
  size: 12rem;
}

.booked-day {
  background-color: pink;
  color: green;
  size: 12rem;
}


.booked-days {
  background-color: pink;
  color: green;
  size: 12rem;
}