<div class="container" (scroll)="onWindowScroll($event)">
  <div class="filterandrange">
    <div class="range" *ngIf="from != null && to != null">
      {{from | amDateFormat:'MMM YYYY'}} ― {{to | amDateFormat:'MMM YYYY'}}
    </div>
  </div>

  <div class="dateheader">
    <div class="side-header side"></div>
    <div class="main-header" #scrollHeader id="headerstyle">
      <div *ngFor="let item of days; let i = index; trackBy: trackByKey" class="header-day" [ngClass]="item.headerClass"
        [attr.data-day-id]="i">
        {{item.title}}
      </div>
    </div>
  </div>

  <div class="body">
    <div class="side-body side">
      <div
        *ngFor="let row of rows | slice: pageIndex * pageSize : (pageIndex + 1) * pageSize; let row_i=index; trackBy: trackById"
        class="row row-main" [attr.data-row-id]="row.employeeId">
        <ng-container
          *ngTemplateOutlet="rowTemplate ? rowTemplate.template : defaultRow; context: { $implicit: row }"></ng-container>
      </div>
    </div>
    <div class="main-body" #scrollBody>
      <div
        *ngFor="let row of rows | slice: pageIndex * pageSize : (pageIndex + 1) * pageSize; let row_i=index; trackBy: trackById"
        class="row row-main" [attr.data-row-id]="row.employeeId">
        <div *ngFor="let item of days; let i = index; trackBy: trackByKey" class="main-day" [ngClass]="{
       'matching-date-class': _isMatchingRow(row.employeeId, item.date),
       'selected-date-class': _isSelectedDate(item.date),
       'weekend': getClassFn(item.date)?.includes('weekend'),
       'holiday': getRedDayFn(item.date)?.includes('holiday'),
       'approved': _isApproved(row.employeeId, item.date),
       'not-approved': _isNotApproved(row.employeeId, item.date)
     }" [attr.data-day-id]="item.date.format('YYYY-MM-DD')" [class.active]="i === selected">
          <div class="day-content" [ngStyle]="">
            {{ item.date.clone().format('DD') }}
          </div>
        </div>

      </div>
    </div>
  </div>



</div>

<ng-template #defaultRow let-row>
  <div class="card-content">
    <div class="title">
      {{ row.userName }}
    </div>
  </div>
</ng-template>

<ng-template #defaultTitle></ng-template>

<div class="paginator"
  style="height: 60px; display: flex; margin-right: 7%; align-items: center; justify-content: flex-end; margin-bottom: 2rem;">
  <mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)" style="border-radius: 20px;margin-bottom: 3%;margin-top: 6%;"></mat-paginator>
</div>